<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <title>Ac 03</title>
</head>
<body>
    <form id="name_form">
        <label>Nome:</label><input type="text" name="_first_name"/>
        <br/>
        <label>Time:</label><input type="text" name="_last_name"/>
        <br/>
        
        
        
        <select class="form-select" multiple aria-label="multiple select example" name="_posicao">
            <option selected>Posicao</option>
            <option value="Atacante">Atacante</option>
            <option value="Meio-Campo">Meio-Campo</option>
            <option value="Zagueiro">Zagueiro</option>
          </select>
        <input type="button" value="enviar" id="envio" name="envio" />
    </form>
    <input type="text" id="resp" name="resp" size="50" /> 

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript">
        $('#envio').click(function(e) {
                e.preventDefault();

                if($('[name=_first_name]').val().length == 0){
                    $('#resp').val('campo primeiro nome deve ser preenchido');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/serializar',
                    data: $('form').serialize(),
                    success: function(callback) {
                        console.log(callback);
                        $('#resp').val('Nome: ' + callback._first_name + ' Time: ' + callback._last_name + ' Posicao: ' + callback._posicao);
                        $('[name=_first_name]').val('');
                        $('[name=_last_name]').val('');
                        $('[name=_posicao]').val('');
                    },
                    error: function() {
                        $(this).html("error!");
                    }
                });
            });
    </script>
</body>
</html>

